/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this file,
 * You can obtain one at http://mozilla.org/MPL/2.0/. */

:root {
  --lockdown-mode-icon: url("chrome://browser/content/enterprise/site-restrictions.svg");
  --access-connector-icon: url("chrome://browser/content/enterprise/access-connector.svg");
  --access-connector-error-icon: url("chrome://browser/content/enterprise/access-connector-unavailable.svg");
}

#lockdown-mode-button .urlbar-icon {
  list-style-image: var(--lockdown-mode-icon);
}

#access-connector-button .urlbar-icon {
  list-style-image: var(--access-connector-icon);
}

#access-connector-button[error] .urlbar-icon {
  list-style-image: var(--access-connector-error-icon);
}

/* use theme colors for HCM */
@media not (forced-colors) {
  #lockdown-mode-button .urlbar-icon,
  #access-connector-button .urlbar-icon {
    -moz-context-properties: fill;
    fill: var(--icon-color-information);
  }

  #access-connector-button[error] .urlbar-icon {
    fill: var(--icon-color-critical);
  }
}

.enterprise-urlbar-panel-subview {
  max-width: var(--size-layout-large);

  & .panel-subview-body {
    padding: var(--space-small) var(--space-medium) var(--space-medium);
  }
}
