/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

:root {
  --lockdown-mode-icon: url("chrome://browser/content/enterprise/site-restrictions.svg");
  --access-connector-icon: url("chrome://browser/content/enterprise/access-connector.svg");
  --access-connector-error-icon: url("chrome://browser/content/enterprise/access-connector-unavailable.svg");
}
